
body {
    background-image: url("../img/bg-main.png");
    
    font-family: Raleway-Medium;
    color:#555;
    transition: all .2s ease-out;
}

h1 {
    font-size: 2.5em;
    margin: 1.1em auto;
    text-align: center;
    line-height: 1.4em;
    font-weight: 500;
    color:#444;
}

h2 {
    font-family: Raleway-Black;
    font-size:2em;
    font-weight: 400;
    line-height: 1.4em;
}

h3 {
    font-family: Raleway-Medium, sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 29px;
}

.box-header {
    font-size: 2em;
    line-height: 2em;
}
.bg-white {
    background-color:#fff;
}
.bg-lightgray1 {
    background-color:#f5f5f5;
}

.bg-lightblue {
    background-color:#ECF7FA;
}


/* form elements */
input[type=button], input[type=text], button {
    height:40px;
}


.footer {
    padding: 15px;
    background-color:#444;
    color:#eee;
    min-height: 140px;
}

.num-people {
    text-align: center;
    margin:.5em auto;
    padding: .8em .8em;
    line-height: 1.2em;
    font-size: 1.5em;
    text-shadow: 0px .5px 1px #fff;
}

.feature-card {
    padding:2em 4em;
    text-align: center;
}

.feature-card img {
    margin:1em auto;
    max-width: 100%;
}

#macbook {
    margin:25px auto;
    max-width: 100%;
}

@media screen and (max-width: 480px) {
    h1 { font-size: 2em; }
}

#sign-in-box {
    padding:10px 0px;
    border-radius: 5px;
    padding:20px 0;
    background-color: rgba(255,255,255, .6);
}

#social-login-box, 
#login-box {
    
    display:block;
    text-align: center;
}

#login-box input {
    font-size:20px;
}

.btn-social, #login-box input {
    width:80%;
    padding:5px;
    margin:10px 0;
}

.btn-social, .login-box input[type=button] {
    border:none;
}

.btn-social {
    color: #fff;
    font-size:20px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}

.btn-social i {
    margin-right:10px;
    font-size:24px;
}

#login-alternate {
    margin: 15px 0 0 0;
}

#or {
    text-align: center;
    margin:15px 0;
}
@media screen and (min-width: 992px) {
    #or {
        margin-top: 80px;
    }
}

.color-bg-facebook {
    background-color: #507CC0;
}

.color-bg-twitter {
    background-color: #64CCF1;
}

.color-bg-google {
    background-color: #DF4930;
}

/* dashboard styles */
.dashboard-section {
    padding:20px 0;
}
