@fuel: #68C2DC;
@parking: #F9CDB0;
@insurance: #8397A7;
@registration: #A0C2C4;
@repair: #F05860;

@lightest-gray: #F9F9F9;
@white: #fff;
@button-bg-color: #5AB7FF;
@currency-color: #EE8744;

// Buttons
.btn-standard {
    background-color: @button-bg-color;
    border:none;
    color:@white;
    text-shadow:0px 1px 2px #777;
	
	&:hover {
	    background-color:#90CBF8;
	}    
}

// expenses and fuel
.expense-wrapper, .fuel-wrapper {
	padding:0px 0px 15px 0px;
} 

.expense-row, .fuel-row  {
	padding:10px 0;
	margin-top: 5px;
	background-color: @white;
	
	
	.currency {
		text-align: right;
		color: @currency-color;
	}
	
	.buttons {
		text-align: right;
		span {
			padding:5px;
		}
	}
}

.chart {
    
    .legend {
        text-align: center;
    
        ul.pie-legend {
            list-style: none;
            li {
                line-height: 20px;
                text-align: left;
                span {
                    width: 20px;
                    height: 20px;
                    border-radius:20px;
                    display: inline-block;
                }
            }
        }
    }

}
