﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Dashboard</title>
    <meta name="viewport" content="initial-scale=1.0;maximum-scale=1.0">
    <!-- Latest compiled and minified CSS -->
    <link href="~/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" />

    @Styles.Render("~/Content/css")
    @* Should compile these to css files for production. *@
    <link href="~/Content/less/default.less" rel="stylesheet/less" type="text/css" />
    <link href="~/Content/less/site.less" rel="stylesheet/less" type="text/css" />
</head>

<body bg="~/Content/img/bg-main.png" ng-app="ap">
    <div class="container">
        <div class="header clearfix">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation">
                        <a href="login.html">Login</a>
                    </li>
                    <li role="presentation">
                        <a href="register.html">Register</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">
                <img src="~/Content/img/logo.png">
            </h3>
        </div>
    </div>
    <div class="container">
        <div class="bg-white row">
            <div class="col-xs-12">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                                    aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav" ng-controller="ap.vehicleController as vm">
                                <li ng-repeat="vehicle in vm.vehicles">
                                    <a href="#">
                                        <i class="fa fa-car"></i>
                                        <span ng-bind="vehicle.name"></span>
                                    </a>
                                </li>
                                <!--<li class="active">
                                    <a href="#">Toyota Corolla Conquest 2010 <span class="sr-only">(current)</span></a>
                                </li>
                                <li>
                                    <a href="#">Wolksvagan GT</a>
                                </li>-->
                            </ul>
                        </div>
                        <!-- /.navbar-collapse -->
                    </div>
                    <!-- /.container-fluid -->
                </nav>
                <h2>Toyota Corolla 2010</h2>
                <div class="row">
                    <!-- Expenses -->
                    <section id="regular-expenses" ng-controller="ap.expenseController as vm">
                        <div class="col-xs-12">
                            <div class="dashboard-section">
                                <h3>Regular Expenses</h3>
                                <p>230 AUD in the last 30 days.</p>
                                <p>That's 7.6 AUD per day</p>

                                <div class="chart">
                                    <div class="col-xs-12 col-sm-8 col-md-6">
                                        <canvas pie-chart data="vm.expenseStatistics" put-legends-at="legend-xlgh" width="400" height="400"></canvas>
                                    </div>
                                    <div class="legend col-xs-6 col-sm-4 col-md-6" id="legend-xlgh"></div>
                                </div>
                                @*<div class="chart-container col-xs-10 col-xs-offset-1 col-sm-6 col-md-6 col-lg-4">
                                    <canvas id="pieChart" width="400" height="400"></canvas>
                                </div>
                                <div id="circle-legend" class="lengend-box col-xs-10 col-sm-4"></div>*@
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-8">
                            <div class="col-xs-12">
                                <button class="btn btn-standard col-xs-12 col-sm-6">
                                    <i class="fa fa-angle-double-down"></i>Show Expenses
                                </button>
                            </div>
                            <div class="expense-wrapper col-xs-12">
                                <div class="expense-row col-xs-12" ng-repeat="expense in vm.expenses">
                                    <span class="date col-xs-4">
                                        <i class="fa fa-calendar"></i>
                                        <span class="text-nowrap" ng-bind="expense.date | date:'d, MMM yyyy'"></span>
                                    </span>
                                    <span class="category col-xs-1" ng-bind="expense.category"></span>
                                    <span class="currency col-xs-4" ng-bind="expense.amount | currency"></span>
                                    <span class="buttons col-xs-3">
                                        <span class="btn-edit">
                                            <i class="fa fa-pencil-square-o"></i>
                                        </span>
                                        <span class="btn-delete">
                                            <i class="fa fa-times-circle"></i>
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="row">
                    <!-- Mileage -->
                    <section id="fuel-mileage" ng-controller="ap.fuelController as vm">
                        <div class="col-xs-12">
                            <div class="dashboard-section">
                                <h3>Fuel Mileage</h3>
                                <p>12.4 kmpl for 12,678 kms.</p>
                                <div class="chart-container col-xs-12 col-sm-8">
                                    <div class="chart-wrapper">
                                        <canvas id="lineChart" width="400" height="300"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-8">
                            <div class="col-xs-12">
                                <button class="btn btn-standard col-xs-12 col-sm-6">
                                    <i class="fa fa-angle-double-down"></i>Show Refill History
                                </button>
                            </div>
                            <div class="fuel-wrapper col-xs-12">
                                <div class="col-xs-12 fuel-row" ng-repeat="refill in vm.refills">
                                    <span class="date col-xs-4">
                                        <i class="fa fa-calendar"></i>
                                        <span ng-bind="refill.refillDate | date:'d, MMM yyyy'"></span>
                                    </span>
                                    <span class="col-xs-1" ng-bind="refill.refillAmount"></span>
                                    <span class="col-xs-1" ng-bind="refill.odometer"></span>
                                    <span class="currency col-xs-3" ng-bind="refill.pricePerAmount * refill.refillAmount | currency"></span>
                                    <span class="buttons col-xs-3">
                                        <span class="btn-edit">
                                            <i class="fa fa-pencil-square-o"></i>
                                        </span>
                                        <span class="btn-delete">
                                            <i class="fa fa-times-circle"></i>
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="footer">
                    <p>&copy; Company 2014</p>
                </div>
            </div>
        </div>
    </footer>

    <script>
        var colors = {
            fuel: "#68C2DC",
            parking: "#F9CDB0",
            insurance: "#8397A7",
            registration: "#A0C2C4",
            repair: "#F05860"
        }
    </script>
    <!-- /container -->
    @Scripts.Render("~/bundles/libs")
    @Scripts.Render("~/bundles/app")
    @Scripts.Render("~/bundles/common")
</body>

</html>
