﻿@{
    Layout = "";
}
<html>
<head>
    <title>Autoprofile home</title>
    <meta name="viewport" content="initial-scale=1.0;maximum-scale=1.0">
    <link href="~/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" />

    @Styles.Render("~/Content/css")
    @* Should compile these to css files for production. *@
    <link href="~/Content/less/default.less" rel="stylesheet/less" type="text/css" />
    <link href="~/Content/less/site.less" rel="stylesheet/less" type="text/css" />

    
</head>

<body bg="~/Content/img/bg-main.png" ng-app="ap">
    <div class="container">
        <div class="header clearfix">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation">
                        <a href="login.html">Login</a>
                    </li>
                    <li role="presentation">
                        <a href="register.html">Register</a>
                    </li>
                    @* temporary link to dashboard. *@
                    <li role="presentation">
                        @Html.ActionLink("Dashboard", "Dashboard", "Home")
                        @*<a href="register.html">Register</a>*@
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">
                <img src="~/Content/img/logo.png">
            </h3>
        </div>
    </div>
    <section id="keep-track">
        <div class="container">
            <div class="row">
                <h1 class="col-xs-12">Keep track of your Car Expenses, Mileage and Reminders</h1>
                <div class="text-center">
                    <img id="macbook" src="~/Content/img/macbook.png">
                </div>
                <div class="col-xs-12 num-people">
                    <strong>34,451</strong> people are already in here for the love of cars
                </div>
            </div>
        </div>
    </section>
    <section id="never-lose">
        <div class="feature-card bg-white row">
            <h2>
                You
                <b>never lose</b> your expense history again!
            </h2>
            <img src="~/Content/img/neverlose.png">
        </div>
    </section>
    <section id="visualisations">
        <div class=" feature-card bg-lightblue row">
            <h2>Beautiful visualisations. no less!</h2>
            @*Remove the snap, and put the real data visualizations with interactivity.*@
            <div ng-controller="ap.sample.expense.controller as vm" class="chart">
                <div class="col-xs-8">
                    <canvas id="pieChart2" pie-chart data="vm.expenses" put-legends-at="legend-xlgh"></canvas>
                </div>
                <div class="legend col-xs-4" id="legend-xlgh"></div>
            </div>
        </div>
    </section>
    <section id="share">
        <div class=" feature-card bg-white row">
            <h2>Share with and Learn from others.</h2>
        </div>
    </section>
    <footer class="footer">
        <p>&copy; Company 2014</p>
    </footer>

    <script>
        var colors = {
            fuel: "#68C2DC",
            parking: "#F9CDB0",
            insurance: "#8397A7",
            registration: "#A0C2C4",
            repair: "#F05860"
        }
    </script>
   
    <script src="~/Scripts/libs/less.js"></script>
    @Scripts.Render("~/bundles/libs")
    @Scripts.Render("~/bundles/app")

    @Scripts.Render("~/bundles/common")
</body>

</html>