﻿@font-face {
    font-family: Raleway-Black;
    src: url(/Content/fonts/Raleway-Black.ttf);
}

@font-face {
    font-family: Raleway-Medium;
    src: url('/Content/fonts/Raleway-Medium.ttf');
}


@font-face {
    font-family: Raleway-ExtraLight;
    src: url('/Content/fonts/Raleway-ExtraLight.ttf');
}
